@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/* corpo da pagina, fundo */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #ebe8e8;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; /* nao ficar espaço no eixo x, ou seja, nao sobrar scroll em baixo */
}

h1 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  line-height: 58px;
  font-size: 56px;
  color: #1e1e1e;
  margin: 0px;
  padding: 0px;
}

h2.verde {
  color: #219653;
}

/* descrição da logo */
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 130px; /* margin: 130px para arrumar coluna das imgs */
  text-align: center; /* text-align: center para arrumar coluna top */
}

li {
  font-size: 20px;
  margin: bottom 12px;
  font-weight: 500;
}

a {
  color: #1e1e1e;
}

button {
  height: 56px;
  border-radius: 16px;
  background-color: #219653;
  border-width: 0px;
  color: #fefefe;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.16rem;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

p.card {
  font-size: 16px;
  text-align: center;
  margin-top: -120px;
  max-width: 60%;
}

footer {
  display: flex;
  width: 100vw;
  height: 156px;
  background-color: #d9d9d9;
  align-items: center;
  justify-content: center;
}

/* classe da pagina inteira, root = raiz */
.root-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 1216px;
  align-items: center;
  justify-content: flex-start;
}

/* primeira seção */
.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 92vh;
}

.barra-navegacao {
  display: flex;
  width: 1216px;
  height: 72px;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 64px;
}

.titulo-navegacao {
  color: #1e1e1e;
  font-size: 24px;
  letter-spacing: -0.015rem;
  font-weight: bold;
}

.links-navegacao {
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: -0.015rem;
  margin-right: 16px;
  cursor: pointer;
}

.hero-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1216px;
  height: 594px;
  padding-top: 64px;
}

.hero-info-title {
  font-size: 48px;
  font-weight: bold;
  margin: 0px;
}

.hero-info-subtitle {
  font-size: 20px;
  line-height: 28px;
  max-width: 65%;
  margin-top: 16px;
}

.hero-info-image {
  height: 100%;
  width: 380px;
  border-radius: 40px;
  border-color: #219653;
  border-width: 4px;
  border-style: solid;
}

.hero-info-icons-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.hero-info-icons-img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.section-abilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding-top: 64px;
  padding-bottom: 64px;
}

.ability-cards-container {
  display: grid;
  width: 100%;
  column-gap: 36px; /* espaçamento entre as colunas */
  grid-template-columns: auto auto auto; /* cada auto vale para cada coluna, se tiver 4 colunas, sera 4 auto */
  grid-template-rows: auto; /* quantas linhas tera a coluna */
  justify-content: center; /* fixa as colunas automaticamente */
  align-content: center;
  margin-top: 48px;
}

.ability-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 312px;
  height: 690px;
  border-width: 1px;
  border-color: #d9d9d9;
  border-radius: 12px;
  border-style: solid;
  padding-top: 30px;
}

.ability-card-icon-container {
  /* habildiades para imagens do container */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px; /* colocando 80x80 deixa a imagem redonda */
  height: 0px;
  border-radius: 40px;
  background-color: #219653;
  margin-bottom: 12px;
}

.ability-card-icon-img {
  margin-top: 100px;
  width: 250px;
  height: 150px;
}

.ability-card-subtitle {
  font-size: 16px;
  text-align: center;
  margin-top: -120px;
  max-width: 60%;
}

.ability-list {
  width: 90%;
}

.section-portfolio {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.section-portfolio-grid {
  display: grid;
  width: 100%;
  column-gap: 36px; /* espaçamento entre as colunas */
  grid-template-columns: auto auto auto; /* cada auto vale para cada coluna, se tiver 4 colunas, sera 4 auto */
  grid-template-rows: auto; /* quantas linhas tera a coluna */
  justify-content: center; /* fixa as colunas automaticamente */
  align-content: center;
  margin-top: 48px;
}

.section-portfolio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 384px;
  height: 460px;
  border-width: 2px;
  border-color: #d9d9d9;
  border-style: solid;
  border-radius: 24px;
  margin-bottom: 50px;
}

.second-portifolio-img {
  width: 220px;
  height: 156px;
  margin-bottom: 15px;
}

.section-portifolio-card-links {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: baseline;
  justify-content: space-between;
}

.section-portifolio-card-icon-image {
  width: 25px;
  height: 25px;
  margin-bottom: 1px;
}

.section-experiences {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
}

.section-experiences-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 800px;
  background-color: #d9d9d9;
  border-radius: 16px;
  margin-top: 24px;
  padding: 24px;
}

.section-experiences-card-img {
  width: 48px;
  height: 48px;
  border-radius: 12px;
}

.section-experiences-card-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 16px;
}

.section-experiences-card-title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
}

.section-experiences-card-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 4px 0px 0px 0px;
}

.section-experiences-card-text {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin: 6px 0px 0px 0px;
}

.section-econtact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
}

.section-contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.section-contact-item-icon {
  width: 24px;
  width: 24px;
  margin-right: 8px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  width: 1216px;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.footer-social-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
